<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :i_agree %>
    <%= check_box_tag :terms %>
    <%= link_to 'Read our terms and conditions before submitting', "http://www.google.com", :target => "_blank", data: { confirm: "Are you sure you want to abandon this tab?" } %>
  </div>

  <div class="actions">
    <%= submit_tag "Create post", data: { disable_with: "Creating post"} %>
  </div>
<% end %>
